.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f2aa4cff;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-family: "Bangers", cursive;
  color: black;
  letter-spacing: 2px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-container:hover {
  transform: scale(1.05);
}
