body,
html {
  background-color: #525252;
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: rgb(231, 231, 231);
}
h1 {
  color: #f2aa4cff;
  font-family: "Press Start 2P", cursive;
  margin-top: 10vh;
}
